* {
    margin: 0;
    padding: 0;
}


body {
    background: radial-gradient(rgb(213, 225, 234), rgb(248, 185, 217));
    width: 100%;
  }
.contenedor > div {
    display: grid;
    width: 100%;
   
    
    
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); 
}

.foto_inicio {
    width: 100%;
    max-width: fit-content;
}

.aside{
    grid-area: aside;
    background-color:rgb(183, 136, 161) ;
    width: auto;
    height: auto;
}

li a {
    text-decoration-line: none;
    color: rgb(170, 80, 158);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




aside p {
    font-size: larger;
    font-family: 'Libre Bodoni', serif;
    
}